<form [formGroup]="signupForm">
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email"  [errorStateMatcher]="isMatchErrorStateMatcher">
        <mat-error>
            <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
                <div
                    *ngIf="signupForm.get('email')?.errors?.['required']">
                    Email is required.
                </div>
                <div
                    *ngIf="signupForm.get('email')?.errors?.['email']">
                    Email address is invalid.
                </div>
            </div>
            <div *ngIf="signupForm.invalid">
                <div *ngIf="signupForm.errors?.['notMatched']">
                    Email is not matched.
                </div>
            </div>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm Email</mat-label>
        <input matInput type="text" formControlName="confirmEmail" [errorStateMatcher]="isMatchErrorStateMatcher">
        <mat-error>
            <div *ngIf="signupForm.get('confirmEmail')?.invalid && (signupForm.get('confirmEmail')?.dirty || signupForm.get('confirmEmail')?.touched)">
                <div
                    *ngIf="signupForm.get('confirmEmail')?.errors?.['required']">
                    Email is required.
                </div>
                <div
                    *ngIf="signupForm.get('confirmEmail')?.errors?.['email']">
                    Email address is invalid.
                </div>
            </div>
            <div *ngIf="signupForm.invalid">
                <div *ngIf="signupForm.errors?.['notMatched']">
                    Email is not matched.
                </div>
            </div>
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
</form>