<div class="login-page">
    <div class="login-card shadow-lg bg-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-button-toggle-group formControlName="userAction">
                <mat-button-toggle value="Login">Login</mat-button-toggle>
                <mat-button-toggle value="Signup">Signup</mat-button-toggle>
            </mat-button-toggle-group>      
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="userName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="passWord">
            </mat-form-field>
            <div id="forgot-pswd-link">Forgot password?</div>
            <button class="login-btn blue-purple-gradient-style" 
            type="submit">{{buttonTxt}}</button>
        </form>
    </div>
</div>
        
