/* You can add global styles to this file, and also import other style files */
// Bases
@import './scss/base/typography';
// Helpers
@import './scss/helpers/variables';
@import './scss/helpers/mixins';
// Angular material build in style overriding
@import './scss/angular-material-components/forms';
@import './scss/angular-material-components/button-toggles';
// Basics
@import './scss/basics/buttons';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Text style
.Poppins-bold {
    font-family: Poppins-bold;
}
.Poppins-regular {
    font-family: Poppins-regular;
}
// Color style 
.main-color-style {
    background: $primary-color;
    color: white;
}
*, ::before, ::after  {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.max-heigh-width {
    height: 100%;
    width: 100%;
}
.flex-horizontal-center{
    display: flex;
    justify-content: center;
}
